{% extends 'layout.html' %}
{% block title %}Home - Page{% endblock title %}


{% block style %}
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
{% endblock style %}


{% block content %}
    <div class="home-container">
        
        <div>
            {% include 'base/topics_component.html' %}
        </div>
        <div>
            <h5>
                {% if room_count > 0 %}
                    {{room_count}} rooms available
                {% else %}
                    room not found
                {% endif %}
            </h5>
            <a href="{% url 'base:create-room' %}">Create Room</a>
            {% include 'base/feed_component.html' %}
        </div>
        
        <div class="">
            {% include 'base/activity_component.html' %}
        </div>
        
    </div>
{% endblock content %}


