{% extends 'layout.html' %}
{% load static %}


{% block style %}
    .profile-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
{% endblock style %}
    

{% block content %}
    <h1>{{user.username}}</h1>
    <div class="profile-container">
        <div>
            {% include 'base/topics_component.html' %}
        </div>
        <div>
            {% include 'base/feed_component.html' %}
            <img src="{% static 'images/Gojo3.png' %}" alt="Gojo Profile"  width="384px" height="424px">
        </div>
        <div>
            {% include 'base/activity_component.html' %}
        </div>
    </div>
{% endblock content %}
